.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
  background-color: #4b2e2b;
  color: #fff;
  padding: 12px 26px;
  border-radius: 30px;
  font-weight: 600;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  border: none;
  transition: all 0.3s ease;
  border-radius: 0;
  text-align: center;
}

.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
  background-color: #c89b63;
  color: #2b2b2b;
}

form.cart {
  display: flex;
  gap: 1rem;
}

.woocommerce form.cart .single_add_to_cart_button {
  padding: 0 28px;
  border-radius: 30px;
}

.woocommerce form.cart .quantity input.qty {
  border-radius: 30px;
  width: 100px;
}
